body{
    /* animation: aparecendo_body 1.2s ; */
    overflow: hidden;
    position: relative;
}

@keyframes aparecendo_body{
    0%{
        transform: translateX(50%);
    }
    100%{
        transform: translateX(0);
    }
}

.div_container{
    display: flex;
}
main{
    margin-top: 50px;
    padding: 0 80px;
}
main .div_container{
    align-items: center;
    justify-content: space-between;
}
button{
    cursor: pointer;
}

.div_pokedex_cadastro{
    height: 500px;
    width: 800px;
    /* margin-left: 80px; */
    margin-right: -90px;

    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    background-color: #B21E1E;
}
.div_pokedex_cadastro .div_container{
    flex-direction: column;
}
.div_topo{
    width: 300px;
    height: 65px;
    margin-top: 10px;
    align-self: flex-start;
    margin-left: 70px;
    display: flex;
    gap: 30px;
}


.div_circulo_grande{
    width: 60px;
    height: 60px;
    background-color: #3EA2A2;
    border: 4px solid white;
    border-radius: 50%;
    animation: luz-azul 4s infinite;
}

@keyframes luz-azul {
    70%{
        box-shadow: 3px 3px 20px 3px #5fecec;
        background-color: #5fecec;
    }
}
.div_circulo_pequeno{
    width: 25px;
    height: 25px;
    border: 4px solid white;
    border-radius: 50%;
}

.div_circulo_pequeno:nth-child(1){
    background-color: #C85A5A;
    animation: luz-vermelho 4.8s infinite;
}
@keyframes luz-vermelho{
    50%{
        background-color: #eb6969;
        box-shadow: 3px 3px 20px 3px #eb6969;
    }
}

.div_circulo_pequeno:nth-child(2){
    background-color: #C6C85A;
    animation: luz-amarela 5.9s infinite;
}
@keyframes luz-amarela{
    60%{
        background-color: #e9eb6e;
        box-shadow: 3px 3px 20px 3px #e9eb6e;

    }
}

.div_circulo_pequeno:nth-child(3){
    background-color: #5AC86B;
    animation: luz-verde 8s infinite;
}
@keyframes luz-verde{
    75%{
        background-color: #6fff85;
        box-shadow: 3px 3px 20px 3px #6fff85;
    }
}
.div_tela_cadastro{
    align-self: flex-start;
    margin-left: 60px;
}
.div_tela_cadastro .div_container{
    flex-direction: row;
    gap: 30px;
}
.div_tela{
    height: 350px;
    width: 570px;

    border: 10px solid #262626;
    background-color: var(--branco);
}

.div_paginacao{
    width: 80px;
    height: 460px;
    padding: 10px 0;
    border-radius: 50px;

    background-color: #F73F3F;
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div_paginacao img{
    width: 40px;
    height: 40px;
    position: relative;

    border-radius: 50%;
}



.pokebola_cinza{
    filter: grayscale(100%);
}



.div_paginacao span{
    
    width: 10px;
    height: 150px;
    background-color: var(--branco);
    
}

.div_primeira{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    height: 90%;
    margin-top: 20px;
    margin-left: 50px;
}

.div_primeira input, .div_primeira select{
    height: 50px;
    padding-left: 20px;
    border-radius: 20px;
    border: 3px solid #262626;
}
.input_nome{
    width: 400px;
}

.div_email_senha{
    display: flex;
    gap: 30px;
}
.input_email, .input_senha{
    width: 200px;
}
.input_senha{
    position: relative;
}
.img_olho{
    position: absolute;
    width: 30px;
    height: 30px;
    margin-left: -45px;
    margin-top: 15px;
    cursor: pointer;
}

.div_pais{
    display: flex;
    align-items: center;
    
}
.div_primeira select{
    width: 300px;
}
#img_pais{
    width: 70px;
    height: 50px;
    margin-left: 40px;

}
.div_primeira button{
    border: 3px solid #262626;
    background-color: #5AC86B;
    height: 50px;
    width: 170px;

    border-radius: 20px;
    font-size: var(--font-medio);
    color: var(--branco);
}

label{
    color: #262626;
    font-size: 1.2rem;
}


/* ESTILIZANDO O ALERTA */
.div_alerta{
    position: absolute;
    top: 20%;
    display: none;

    height: 150px;
    width: 300px; 
    color: var(--branco);

    background-color: #B21E1E;

    animation: alerta 1s; 
    z-index: 1;
    
}

@keyframes alerta{
    0%{
        transform: translateX(-350px);
    }
    100%{
        transform: translateX(0);
    }
}
.div_alerta h2{
    margin-left: 10px;
}

#div_tempo{
    position: absolute;
    bottom: 0;
    height: 10px;

    background-color: #5AC86B;

}


.sumir_alerta{
    animation: sumir 1s; 
    
}
@keyframes sumir{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-350px);
    }
}

.pokebola_selecionada{
    padding: 10px;
    background-color: #B21E1E;
}


.proxima_pokebola{
    animation: pokebola 1s;
    filter: grayscale(0);

}

@keyframes pokebola{
    0%{
        filter: grayscale(100%);
    }
    100%{
        filter: grayscale(0);
    }
}





/* ESTILIZANDO A SEGUNDA TELA */
.div_segunda{
    flex-direction: column;
}
.div_segunda .div_container{
    justify-content: baseline;
    align-items: baseline;
}
.div_escolha{
    display: flex;
    flex-direction: column;
    gap: 20px;

    align-self: flex-start;
    margin: 15px 0 0 20px;
    
}

.div_escolha button{
    width: 100px;
    height: 50px;
}

.div_escolhas_especificas{
    display: flex;
    width: 400px;
    height: 80px;

    margin-right: 10px;
    border: 1px solid red;
}

.div_personagem{
    width: 402px;
    height: 265px;
    position: relative;

    border: 3px solid #262626;

    z-index: 0;
}
.div_personagem img{
    height: 100px;
    width: 100px;
}

.div_button{
    display: flex;
    margin-top: -50px;
    align-self: flex-end;
    justify-content: space-between;
    gap: 10px;

    width: 400px;
    margin-right: 10px;

}
.div_button .button_voltar{
    border: 3px solid #262626;
    background-color: #B21E1E;
    height: 40px;
    width: 120px;

    border-radius: 20px;
    font-size: 0.8rem;
    color: var(--branco);
    z-index: 1;

}

.div_button .button_avancar{
    border: 3px solid #262626;
    background-color: #5AC86B;
    height: 40px;
    width: 120px;

    border-radius: 20px;
    font-size: 0.8rem;
    color: var(--branco);
    z-index: 1;
}


/* ESTILIZANDO O FORMATAÇÃO */
.div_formatacao{
    margin-left: -50px;
    color: white;

}
.div_formatacao img{
    width: 180px;
    margin-top: -50px;
    margin-left: -25px;

}
.div_formatacao span{
    font-size: 5rem;
}

.div_formatacao .s_segundo{
    margin-left: -50px;
}
.div_pokemon{
    display: flex;
    margin-bottom: -20px;
}
.div_formatacao h2{
    font-size: 5rem;
    margin: 0;
    margin-left: -10px;
}



/* ESTILIZANDO DIV INFORMATIVO */
.div_informativo{
    position: absolute;
    top: 20%;

    height: 150px;
    width: 300px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
    animation: informativo 5s;
    transform: translateX(-400px);
    z-index: 0;
    
    
}

@keyframes informativo{
    0%{
        transform: translateX(-400px);
    }
    20%{
        transform: translateX(0);
    }
    70%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-400px);
    }
}

.div_informativo h2{
    font-size: 2.5rem;
    z-index: 2;
    /* font-family: var(--font-pixel) ; */
}

.h2_cima{
    color: var(--branco);
    margin: 0 0 0 0;
}

.h2_baixo{
    color: var(--marrom);
    margin: 30px 0 0 0;
}

.div_cima,
.div_meio,
.div_baixo{
    position: absolute;
    width: 100%;
}

.div_cima, .div_baixo{
    height: 40%
}
.div_meio{
    height: 20%;
    background-color: #262626;

}

.div_cima{
    background-color: #B21E1E;
    top: 0;
}
.div_baixo{
    background-color: #ffff;
    bottom: 0;
}