
main{
    margin-top: 50px;
}
.div_container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

main img{
    height: 300px;
}

.div_pokedex_cadastro{
    height: 500px;
    width: 600px;
    border: 1px solid red;
}