

header .div_container{
    align-items: center;
    justify-content: space-around;
    color: var(--branco);
}

.div_logo{
    cursor: pointer;
}
.div_logo, nav, ul{
    display: flex;
    align-items: center;
}

.div_logo img{
    height: 25px ;
    width: 25px ;
}

.div_logo h2{

    color: var(--marrom);
    font-size: var(--font-media);
    letter-spacing: 1px;
    margin-left: 20px;
}

ul{
    margin-left: 120px;
    text-decoration: none;
    list-style: none;

    gap: 25px;
    justify-content: space-between;

    font-size: var(--font-media);
    z-index: 2;
}

li{
    position: relative;
    cursor: pointer;
}
li::after{
    position: absolute;
    bottom: -10px;
    left: 0;

    content: '';

    width: 0%;
    height: 4px;
    border-radius: 20px;

    transition: width .3s ease-in;
    background-color: var(--marrom);
}

li:hover::after{
    width: 105%;
    left: 0;
}

li:nth-child(4)::after{
    position: relative;
}


li:nth-child(4){

    background-color: var(--marrom);
    padding: 10px 15px;
    border-radius: 10px;
    color: var(--branco);
}
li:nth-child(4):hover{
    background-color: var(--marrom-hover);

}

header button{
    border-radius: 10px;
    font-size: var(--font-media);

    height: 45px;
    width: 150px;

    background-color: var(--marrom);
    color: var(--branco); 
    border: none;
    z-index: 1;
    cursor: pointer;

    transition: background-color .2s ease-in-out;
}

header button:hover{
    background-color: var(--marrom-hover);
}