body{
    /* overflow: hidden; */
    position: relative;

}

main{
    position: relative;
    height: 500px;
    width: 100%;
}
main .h2_fundo{
    font-size: 15rem;
    color: var(--branco);
    opacity: .30;

    position: absolute;
    top: 0;
    margin: 0 4%;

    z-index: -1;

    /* margin-left: -50% */
}

main .div_container{
    flex-direction: column;
}



.div_texto{
    width: 480px;
    margin-left: 30px;
    margin-top: -30px;

    color: var(--marrom);
}

.div_texto h2{
    margin: 0;
    font-size: 2.5rem;
}

.div_texto p{
    font-size: 1.4rem;

}

.div_botao{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    align-self: center;

    margin-top: -150px;
    margin-right: 50px;
}

button{
    height: 80px;
    width: 300px;
    z-index: 2;

    background-color: var(--marrom);
    color: var(--branco);
    font-size: var(--font-grande);
    border-radius: 10px;

    letter-spacing: 2px;
    border: none;
    cursor:pointer;
}

button:hover{
    background-color: var(--marrom-hover);
}