

.div_fundo_modal{
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0   ;
    background-color: rgba(0, 0, 0, 0.267);
    z-index: 2;

}
.aparecer_modal{
    display: block;
}
.div_modal_tema{
    width: 600px;
    height: 380px;
    background-color: #AA5D23;
    
    position: absolute;
    top: 85px;
    left: 26%;
    z-index: 0;

    transition: translate 1s;
    animation: aparecer_modal 1s;

}
@keyframes aparecer_modal {
    0%{
        transform: translateY(-20%);
    }
    50%{
        transform: translateY(0);
    }
}



.div_titulo_modal{
    width: 600px;
    height: 50px;
    background-color: #8E4106;
    display: flex;
    align-items: center;
}
.div_titulo_modal h2{
    color: #ffff;
    letter-spacing: 2px;
    margin: 0 0 0 50px;
    font-size: 1.8rem;
}

.div_escolha_tema{
    display: flex;
    align-items: center;
}

#div_mostrar_tema{
    height: 300px;
    width: 300px;

    margin-top: 30px;
    margin-left: -80px;

    /* background-color: #ffff; */

    position: relative;

    box-shadow: 12px 10px 0px 3px #8E4106;
}
.cor_mostrar{
    background-color: white;
}

#div_mostrar_tema img{
    position: absolute;
    bottom: 0;
    right: 10px;
}
.h3_modal{
    color: var(--branco);
}
.div_escolha_background{
    margin-left: 25px;
}
.form_background{
    display: flex;
    align-items: center;
}
.form_background input[type=radio]{
    height: 30px;
    width: 30px;
    position: relative;
}
#radio_eletrico{
    accent-color:var(--eletrico-cor-fundo);
}
#radio_fogo{
    accent-color:var(--fogo-cor-fundo);
}
#radio_grama{
    accent-color:var(--grama-cor-fundo);
}
#radio_agua{
    accent-color:var(--agua-cor-fundo);
}

#radio_eletrico_background:after,
#radio_fogo_background:after,
#radio_grama_background:after,
#radio_agua_background:after{
    content: '';
    width: 50px;
    height: 30px;
    position: absolute;
    left: -8px;
    bottom: -30px;
    z-index: 2;
}

#radio_eletrico_background:after{
    background-color: var(--eletrico-cor-fundo);
}

#radio_fogo_background:after{
    background-color: var(--fogo-cor-fundo);
}

#radio_grama_background:after{
    background-color: var(--grama-cor-fundo);
}

#radio_agua_background:after{
    background-color: var(--agua-cor-fundo);
}




.linha{
    margin-left: -4px;
    margin-right: -8px;
    z-index: -1;
    width: 70px;
    height: 5px;
    background-color: #8E4106;
    display: inline;
}


.div_escolha_pokemon_geral{
    margin-top: 45px;
    margin-left: 25px;
}
.div_escolha_pokemon{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.div_escolha_pokemon_solo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img_pikachu{
    width: 50px;
    margin-bottom: 5px;
}
.img_pokemon{
    width: 30px;
    margin-bottom: 5px;
}
.radio_pikachu{
    margin-left: 15px;
    margin-bottom: 5px;
}
.radio_pokemon{
    height: 20px;
    width: 20px;
}

.radio_eletrico{
    accent-color:var(--eletrico-cor-fundo);
}

.radio_fogo{
    accent-color:var(--fogo-cor-fundo);
}
.radio_grama{
    accent-color:var(--grama-cor-fundo);
}
.radio_agua{
    accent-color:var(--agua-cor-fundo);
}



.div_esolha button{
    width: 120px;
    height: 40px;
    background-color: #5AC86B;
    border-radius: 10px;
    border:3px solid #3b8546;
    font-size: 0.5rem;

    margin-top: 10px;
    margin-left: 140px;
}

