
.div_topo{
    margin-top: 50px;
    width: 750px;
    display: flex;
    justify-content: space-between;
}
.div_titulo{
    width: 750px;
    background-color: var(--marrom);
    text-align: center;
    font-size: 2rem;
    letter-spacing: 2px;
    padding: 20px 0;
}

.div_titulo h2{
    margin: 0 50px 0 0;
}

.div_texto{
    margin-left: 70px;
    color: var(--marrom);
}
.div_texto h3{
    font-size: 2rem;
    letter-spacing: 2px;
}
.div_texto p{
    font-size: 1.2rem;
    width: 550px;

}

.div_pokemon{
    display: flex;
    margin-left: 266px;
    height: 250px;

}
.img_mewtwo{
    width: 250px;
    height: 250px;
    margin-top: 20px;
    margin-left: 80px;
    z-index: -2;

}
.div_pokemon_tema img{
    width: 200px;
    height: 190px;
    margin-top: 174px;
    margin-right: -180px;
    z-index: -1;
}
.img_grama{
    width: 200px;
    height: 150px !important;
    margin-top: 210px !important;
}

.div_tabela{
    width: 100%;
    margin-top: 50px;
}

table{
    width: 100%;
    z-index: 1;
}

th{
    background-color: var(--marrom);
    padding: 10px 0;
}

