@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


:root{
    --marrom: #8E4106;
    --marrom-hover: #a35215;
    --branco: #f1f1f1 ;

    --preto: #252525; 

    --font-pequena: .3rem;
    --font-media: 1rem;
    --font-grande: 2rem;

    --eletrico-cor-fundo: #F2E74B;
    --fogo-cor-fundo: #FF8801;
    --grama-cor-fundo: #76B88E; 
    --agua-cor-fundo: #5C99BD; 

    --font-pixel: 'VT323', monospace;

    --azul-usuario: rgb(138, 174, 221);
    --preto-usuario: rgb(43, 43, 43); 


}

*{
    font-family: 'Righteous', cursive;
}

body{
    margin: 0;
    padding: 0;
    position: relative;
}

.div_container{
    display: flex;
}