
.sumir{
    display: none;
}

.aparecer{
    display: block
}
.informativo_geral{
    
    margin-top: 40px;
    margin-left: 100px;
    width: 1100px;
    height: 50px;
    
    display: flex;
    align-items: center;
    height: 350px;

    animation: aparecer 1s forwards;
}



@keyframes aparecer {
    0%{
        transform: translateX(-10%);
    }
    100%{
        transform: translateX(0);
    }
}

.informativo_geral img{
    height: 499px;
    margin-top: 50px;
    animation: flutuar 10s infinite;
}
@keyframes flutuar {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}

.informativo_geral span{
    font-size: 13.8rem;
    color: var(--branco);
}

/* TEMA ELETRICO */
.eletrico_fundo{
    background: var(--eletrico-cor-fundo);
    background-image: linear-gradient(to left, rgba(242, 142, 84, 0.20), rgb(255, 255, 255, 0.20), rgb(242, 141, 82, 0.20));

}

.div_informativo_eletrico{
    display: none;
}

.div_informativo_eletrico span:nth-child(1){
    z-index: -1;
    margin-right: -130px;
}

.div_informativo_eletrico span:nth-child(3){
    margin-left: -195px;
}

/* TEMA DE FOGO */
.fogo_fundo{
    background: var(--fogo-cor-fundo);
    background-image: linear-gradient(to left, rgb(75, 82, 242, 0.20), rgb(255, 255, 255, 0.20), rgb(75, 82, 242, 0.20));

}
.div_informativo_fogo{
    display: none;
}

.div_informativo_fogo img{
    margin-top: -40px;
    height: 520px;
}
.div_informativo_fogo span:nth-child(1){
    z-index: -1;
    margin-right: -120px;
}

.div_informativo_fogo span:nth-child(3){
    margin-left: -210px;
    z-index: -1;

}




/* TEMA DE GRAMA */
.grama_fundo{
    color: var(--branco);
    background: var(--grama-cor-fundo);
    background-image: linear-gradient(to left, rgb(00, 00, 00, 0.20), rgb(255, 255, 255, 0.20), rgb(00, 00, 00, 0.20));

}
.div_informativo_grama{
    display: none;
}

.div_informativo_grama img{
    margin-top: -40px;
}
.div_informativo_grama span:nth-child(1){
    z-index: 1;
    margin-right: -120px;
}

.div_informativo_grama span:nth-child(3){
    margin-left: -210px;
    z-index: -1;

}


/* TEMA DE AGUA */
.agua_fundo{
    color: var(--branco); 
    background-color: var(--agua-cor-fundo);
    background-image: linear-gradient(to left, rgb(0, 162, 254, 0.20), rgb(255, 255, 255, 0.20), rgb(0, 162, 254, 0.20));

}
.div_informativo_agua{
    display: none;
}

.div_informativo_agua img{
    margin-top: 100px;
    margin-left: -50px;
    
}
.div_informativo_agua span:nth-child(1){
    z-index: 1;
}

.div_informativo_agua span:nth-child(3){
    margin-left: -80px;

}


