body{
    position: relative;
}


.div_modal{

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.377);

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.div_modal .div_escolha{
    height: 500px;
    width: 1000px;
    display: flex;
    align-items: center;
    z-index: -1;
}


.div_card{
    height: 100%;
    width: 400px;
    /* border: 1px solid white; */
}

.div_professor{
    height: 100%;
    width: 400px;

    border: 10px solid rgb(43, 43, 43);
    border-radius: 20px;
    background-image: url("../../assets/img_usuario/laboratorio.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.img_emoji{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 80px;
    left: 180px;
    display: none;
    animation: surgit_emoji 1.5s;
}
.aparecer_img_emoji{
    display: flex;
}

@keyframes surgit_emoji {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
}
.img_professor{
    width: 320px;
} 

.img_pokemon{
    width: 220px;
    height: 220px;
    margin-left: -90px;
    filter: blur(.5px);
    display: none;
    animation: aparecer 3s;
}

.aparecer_imagem_pokemon{
    display: flex;
}

@keyframes aparecer {
    0%{
        opacity: 0;
        transform: translate(-150px, -100px);
        filter: contrast(0%);

    }

    50%{
        transform:translate(-30px,-50px) ;
        filter: contrast(0%);
    }
    
    80%{
        filter: contrast(0%);
    }
    100%{
        transform:translate(0,0) ;
        opacity: 1;
        filter: contrast(100%);

    }
}


.div_texto{
    width: 580px;
    height: 90%;
    background-color: white;

    padding-left: 20px;
    z-index: -1;

    border: 10px solid rgb(138, 174, 221);

    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.div_esquerdo{
    width: 35px;
    height: 190px;
    background-color:rgb(230, 240, 255) ;
    border-radius:50px;
}

.div_direito{
    width: 35px;
    height: 190px;
    background-color:rgb(230, 240, 255) ;
    border-radius:50px;
    margin-right: 10px;
}
.div_conversa{

    width: 420px;
    height: 350px;
    font-family: var(--font-pixel);

    font-size: 2rem;
    color: rgb(85, 147, 228);

    display: flex;
    align-items: center;
    flex-direction: column;
}

.div_conversa button{
    height: 45px;
    width: 150px;
    padding: 15px;
    margin-top: 10px;

    border: none;
    font-size: .9rem;
    border-radius: 20px;
    background-color: rgb(85, 147, 228);
    color: #fff;
    cursor: pointer;

    align-self: flex-end;

    display: flex;
    align-items: center;
    justify-content: center;

}

.div_pergunta{
    display: flex;
    gap: 50px;
}


#div_pokemon{
    height: 100%;
    width: 100%;
    border: 10px solid rgb(43, 43, 43);
    border-radius: 20px;
}
.fundo_normal{
    background-image: linear-gradient(#FFE72C 60%, #f7bf05);

}


.fundo_fogo{
    background-image: linear-gradient(#fc6b52 60%, rgb(241, 109, 109));
}
.fundo_agua{
    background-image: linear-gradient(#8fbbe4 60%, #669fd4);
}
.fundo_grama{
    background-image: linear-gradient(#71c936 60%, #83d34e);
}
.div_nome{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 5px;

    padding: 0 10px;
}

.div_nome_especifico{
    display: flex;
    align-items: center;
    gap: 10px;
}
.s_basic{
    background-image: linear-gradient(rgb(226, 226, 226), white);
    padding: 3px 8px;
    border-radius: 20px;
    font-size: .9rem;
    color: rgb(29, 29, 29);
}

#s_nome{
    font-size: 1.3rem;
    color: rgb(29, 29, 29);
    letter-spacing: 2px;
}

.s_hp{
    font-size: .6rem;
}
#s_vida{
    font-size: 1.4rem;
    color: rgb(29, 29, 29);
}

.div_imagem_pokemon{
    width: 95%;
    height: 200px;

    background-image: url("../../assets/img_usuario/floresta.jpg");
    background-size: 160%;
    background-position: bottom;
    background-clip: border-box;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: auto;

    border: 4px solid rgb(226, 226, 226);
}

.div_imagem_pokemon img{
    width: 180px;
    margin-left: -20px;
    margin-top: -30px;
}

.div_segundo_ataque, .div_primeiro_ataque{
    margin-top: 15px;
}
.div_meio h3{
    padding: 0 15px;
    margin: 0;
    font-size: 1.2rem;
    color: rgb(29, 29, 29);

    letter-spacing: 2px;
    position: relative;
}

.div_meio h3 span{
    font-size: .9rem;
    position: absolute;
    right: 10px;
    color: rgb(29, 29, 29);
    font-style: oblique;
}

.div_meio p{
    margin: 5px 0 0 0;
    font-size: .9rem;
    padding: 0 20px;
    color: rgb(29, 29, 29);
}

.div_descricao{
    padding-left: 120px;
    margin-top: 10px;
}

.div_descricao p{
    margin: 0;
    font-size: .5rem;
    border: 3px solid #41410a71;
    border-radius: 10px;
    padding: 0 3px;
    margin-right: 8px;
    font-style: italic;
    color: rgb(34, 34, 34);

}

.div_pokemon_opcao{
    display: flex;
    gap: 60px;
}


.div_pokemon_especifico{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_img_pokemon{
    width: 90px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.div_pokemon_especifico img{
    width: 90px;
}

.div_pokemon_especifico input{
    height: 20px;
    width: 20px;
    margin-top: 20px;
}

.div_pokemon_especifico h3{
    margin: 0;
    font-size: 1.2rem;
    font-family: var(--font-pixel);
    letter-spacing: 3px;
    text-align: center;
}